<section id="show-page">
    <div><%= title %></div>
    <div><%= workout.date %></div>
    <div><%= workout.exercise %></div>
  </section>
  <!-- add to cast form below this comment -->
  
  <br><br><h2>Sets</h2>
  <form id="add-workout-form" method="POST"
    action="/workouts/<%= workout._id %>/sets">
    <label>Weight
        <input type="number" name="weight">
    </label>
    <label>Reps
        <input type="number" name="reps"> 
    </label>
    <input type="submit" value="Add Set">
  </form>
  
  <% if (workout.sets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Set</th>
          <th>Weight</th>
          <th>Reps</th>
        </tr>
      </thead>
      <tbody>
        <% workout.sets.forEach(function(set) { %>
          <tr>
            <!-- .toLocaleDateString() provides a more friendly date format -->
            <td><%= set.weight %></td>
            <td><%= set.reps %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <% } %>