<%- include('../partials/header') %>

<section id="show-page">
    <div><%= workout.exercise %></div>
    <div><%= workout.date.toLocaleDateString() %></div>
    <% if (workout.exercise === 'Bulgarian Split Squats') { %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/2C-uNgKwPLE?si=X6GwIoqnsvr1KcIw&amp;start=57" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% } %>
    <% if (workout.exercise === 'Bent Over Rows') { %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6TSP1TRMUzs?si=XG89eyTrMFmh6o_Y&amp;start=93" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% } %>
    <% if (workout.exercise === 'Curls') { %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ykJmrZ5v0Oo?si=2fZmEOWXhptsAPCa&amp;start=20" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% } %>
    <% if (workout.exercise === 'Face Pulls') { %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/rep-qVOkqgk?si=RbvRAk1078U9dPTm&amp;start=33" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% } %>
    <% if (workout.exercise === 'Hanging Leg Raises') { %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/hdng3Nm1x_E?si=KTGB5WgQVs_YQ-py&amp;start=25" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% } %>
    <% if (workout.exercise === 'Incline DB Press') { %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8iPEnn-ltC8?si=ZqaFtOft-1sgMnUG&amp;start=68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% } %>
    <% if (workout.exercise === 'Ring Rows') { %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/xeJJEZdaMm8?si=tVO4g-3ng8fLzGy5&amp;start=246" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% } %>
    <% if (workout.exercise === 'Kettlebell Swings') { %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/1cVT3ee9mgU?si=7SIZr-ILlIytzfl7&amp;start=246" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% } %>
    <% if (workout.exercise === 'Lateral Raises') { %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/3VcKaXpzqRo?si=1w3XePkdIN-Gy0Ls&amp;start=25" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% } %>
    <% if (workout.exercise === 'Tricep Extensions') { %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/-Vyt2QdsR7E?si=Bu1Ha7dQKOsqAk2t&amp;start=10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% } %>
    <% if (workout.exercise === 'Pull Ups') { %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/eGo4IYlbE5g?si=0qEADno1zxKkZxu6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% } %>
    <% if (workout.exercise === 'RDLs') { %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7j-2w4-P14I?si=4T36xTxa0VNihCGJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% } %>
    <% if (workout.exercise === 'Rear Delt Flys') { %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/0GSu6Z-Oj7U?si=qb800gseHnmzshas&amp;start=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% } %>
    <% if (workout.exercise === 'Ring Push Ups') { %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/xeJJEZdaMm8?si=DSaAWyjrm8pzeuhS&amp;start=203" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% } %>
    <% if (workout.exercise === 'Squats') { %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8Kls95w2jFA?si=VcM6MJO4dvxWYRjC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% } %>
  </section>
  
  <br><br><h2>Sets</h2>
  <% if (user?._id.equals(workout.user)) { %>
    <form id="add-workout-form" method="POST" action="/workouts/<%= workout._id %>/sets">
      <label>Weight
        <input type="number" name="weight">
      </label>
      <label>Reps
        <input type="number" name="reps"> 
      </label>
      <input type="submit" value="Add Set">
    </form>
  <% } %>
  
  <% if (workout.sets.length) { %>
    <table id="sets-table">
      <thead>
        <tr>
          <th>Set</th>
          <th>Weight</th>
          <th>Reps</th>
        </tr>
      </thead>
      <tbody>
        <% workout.sets.forEach(function(set, index) { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= set.weight %></td>
            <td><%= set.reps %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <% } %>

<%- include('../partials/footer') %>   