<%- include('../partials/header') %>

<section id="show-page">
    <div><%= workout.exercise %></div>
    <div><%= workout.date.toLocaleDateString() %></div>
    <% if (workout.exercise === 'RDLs') { %>
      <video width="500px" height="500px" controls="controls" src="https://www.youtube.com/watch?v=RpwTdghpl0Y&t=6s"></video>
    <% } %>
  </section>
  
  <br><br><h2>Sets</h2>
  <% if (user) { %>
    <form id="add-workout-form" method="POST" action="/workouts/<%= workout._id %>/sets">
      <label>Weight
        <input type="number" name="weight">
      </label>
      <label>Reps
        <input type="number" name="reps"> 
      </label>
      <input type="submit" value="Add Set">
    </form>
  <% } %>
  
  <% if (workout.sets.length) { %>
    <table id="sets-table">
      <thead>
        <tr>
          <th>Set</th>
          <th>Weight</th>
          <th>Reps</th>
        </tr>
      </thead>
      <tbody>
        <% workout.sets.forEach(function(set, index) { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= set.weight %></td>
            <td><%= set.reps %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <% } %>

<%- include('../partials/footer') %>   